# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# editorconfig.org

root = true

[*.js]
indent_style = tab
indent_size = 4
tab_width = 4

[*.ts]
indent_style = tab
indent_size = 4
tab_width = 4

[*.scss]
indent_style = tab
indent_size = 4
tab_width = 4

[*.html]
indent_style = tab
indent_size = 4
tab_width = 4

[*.json]
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
