<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header"><a class="navbar-brand">{{'header.title' | translate}}</a></div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a routerLink="/">{{'header.links.home' | translate}}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="!profile">
				<li><a routerLink="/login">{{'header.links.login' | translate}}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="profile">
				<li>
					<span class="navbar-text">{{'header.welcome' | translate:profile}}</span>
				</li>
			</ul>
		</div>
	</div>
</nav>
